{
  "appId":          "",
  "appDisplayName": "{{APP_DISPLAY_NAME}}",
  "environmentId":  "{{PP_ENVIRONMENT_ID}}",
  "region":         "prod",
  "buildPath":      "./dist",
  "buildEntryPoint":"index.html",
  "localAppUrl":    "http://localhost:3000"
}
